

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.layout .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background-image: url("../../images//logo.png");
  background-size: 100% 100%;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.top-menu{
  float: right;
}