<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.ticket.application.mapper.CompanyMapper">
    <select id="getCompanyByName" resultType="company">
        select * from company where name = #{name}
    </select>
</mapper>